h2.commenter {
  margin-bottom: 10px;
}

hr {
  color: #D00000;
  background-color: #D00000;
  height: 1px;
}

ul#commenter {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}

ul#commenter li {
  list-style-type: none;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #FF7C7C;
}

ul#commenter li.answer {
  margin-left: 40px;
}

ul#commenter li span.head {
  display: block;
  margin-bottom: 5px;
}

ul#commenter li div.post_options {
  display: block;
  margin-top: 5px;
  color: #D00000;
}

ul#commenter li span b.red {
  color: #D00000;
}

ul#commenter li span.options {
  margin-right: 15px;
}
